@use '@angular/material' as mat;
@use 'app-theme';

// Light theme
html {
  @include mat.theme((
    color: (
      theme-type: light,
      primary: mat.$azure-palette,
      tertiary: mat.$blue-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include app-theme.theme-tokens(light);
}

// Dark theme
.theme-dark {
  color-scheme: dark;

  @include mat.theme((
    color: (
      theme-type: dark,
      primary: mat.$cyan-palette,
      tertiary: mat.$orange-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @include app-theme.theme-tokens(dark);
}
