<page-header />

<div class="m-b-16">
  The following examples use the
  <a href="https://material.angular.io/components/select" target="_blank">
    <code>mat-select</code></a> component of
  <a href="https://material.angular.io" target="_blank">Angular Material</a>.
</div>

<div class="row">
  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Data Source</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p class="m-t-0">
          Most common case is showing data from backend API and with mat-select this is extremely
          simple since you can bind directly to observable when using angular <b> | async</b> pipe.
        </p>
        <mat-form-field class="w-full">
          <mat-label>select person</mat-label>
          <mat-select [(ngModel)]="selectedPersonId">
            @for (person of (people$ | async)!; track person.id) {
              <mat-option [value]="person.id">{{ person.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        Selected: {{selectedPersonId}}
        <mat-divider class="m-y-16" />

        <p>
          You can also set array of objects as items input.
        </p>
        <mat-form-field class="w-full">
          <mat-label>select person</mat-label>
          <mat-select [(ngModel)]="selectedPersonId2">
            @for (person of people; track person.id) {
              <mat-option [value]="person.id">{{ person.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        Selected: {{selectedPersonId2}}
        <mat-divider class="m-y-16" />

        <p>
          While array of objects is the most common items source, you may want to set simple array
          of strings, numbers, booleans.
        </p>
        <mat-form-field class="w-full">
          <mat-label>select person</mat-label>
          <mat-select [(ngModel)]="selectedSimpleItem">
            @for (item of simpleItems; track item) {
              <mat-option [value]="item">{{ item }}</mat-option>
            }
          </mat-select>
        </mat-form-field>
        Selected: {{selectedSimpleItem | json}}
        <mat-divider class="m-y-16" />

        <p>
          If you have simple use case, you can omit items array and bind options directly in html
          using <b>mat-option</b> component.
        </p>
        <button class="m-b-8" type="button" mat-flat-button (click)="toggleDisabled()">
          Toggle option[1] disabled
        </button>

        <mat-form-field class="w-full">
          <mat-label>Select car</mat-label>
          <mat-select [(ngModel)]="selectedCarId">
            @for (car of cars; track car) {
              <mat-option [value]="car.id" [disabled]="car.disabled">{{car.name}}</mat-option>
            }
            <mat-option [value]="'custom'">Custom</mat-option>
          </mat-select>
        </mat-form-field>

        Selected car ID: {{selectedCarId | json}}
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tags</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <label>Default tags</label>
        <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mat-select [(ngModel)]="selectedCompany">
            @for (company of companies; track company.id) {
              <mat-option [value]="company">{{ company.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <p>
          Selected value: {{selectedCompany | json}}
        </p>
        <mat-divider class="m-y-16" />

        <label>Custom tags</label>
        <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mat-select [(ngModel)]="selectedCompanyCustom" multiple>
            @for (company of companies; track company.id) {
              <mat-option [value]="company">{{ company.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <p>
          Selected value: {{selectedCompanyCustom | json}}
        </p>

        <mat-divider class="m-y-16" />

        <label>Server side tags</label>
        <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mat-select [(ngModel)]="selectedCompanyCustomPromise" multiple>
            @for (company of companies; track company.id) {
              <mat-option [value]="company">{{ company.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

        <mat-divider class="m-y-16" />

        <label>Select items</label>
        <mat-form-field class="w-full">
          <mat-label>Select item</mat-label>
          <mat-select multiple>
            @for (company of companies; track company.id) {
              <mat-option [value]="company">{{ company.name }}</mat-option>
            }
          </mat-select>
        </mat-form-field>

      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-sm-6">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Select in dialog</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <p>Test mat-select in a dialog.</p>
        <button mat-flat-button (click)="openDialog()">Open Dialog</button>
      </mat-card-content>
    </mat-card>
  </div>
</div>
