<mat-sidenav
  #drawer
  class="sidenav h-full md:relative"
  mode="over"
  [opened]="isLargeScreen || isSidenavOpen"
>
  <mat-toolbar class="bg-primary text-white">Menu</mat-toolbar>
  <mat-nav-list>
    <a
      mat-list-item
      *ngFor="let option of menuOptions"
      [href]="option.link"
      class="flex items-center space-x-2 hover:bg-accent hover:text-white transition mb-2 ml-4"
    >
      <mat-icon>{{ option.icon }}</mat-icon>
      <span>{{ option.label }}</span>
    </a>
  </mat-nav-list>
</mat-sidenav>
