<div mat-dialog-content>
  <p>
    Select a city from the dropdown below.
  </p>

  <mat-form-field>
    <mat-label>Without appendTo</mat-label>
    <mat-select [(ngModel)]="selectedCity">
      @for (item of defaultBindingsList; track item.value) {
        <mat-option [value]="item.value" [disabled]="item.disabled">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field class="m-x-8">
    <mat-label>With appendTo</mat-label>
    <mat-select [(ngModel)]="selectedCity">
      @for (item of defaultBindingsList; track item.value) {
        <mat-option [value]="item.value" [disabled]="item.disabled">{{ item.label }}</mat-option>
      }
    </mat-select>
  </mat-form-field>
</div>
