<div class="ui-confirmation-dialog">
  @if (data.dismissible) {
    <button mat-icon-button class="ui-confirmation-dialog__close" [matDialogClose]="undefined" aria-label="Close">
      <mat-icon>close</mat-icon>
    </button>
  }

  <div class="ui-confirmation-dialog__content">
    @if (data.icon?.show) {
      <div class="ui-confirmation-dialog__icon" [ngClass]="data.icon?.color">
        @if (data.icon?.name && data.icon?.name?.includes(':')) {
          <mat-icon [svgIcon]="data.icon?.name!"></mat-icon>
        }
        @if (data.icon?.name && !(data.icon?.name?.includes(':'))) {
          <mat-icon>{{ data.icon?.name }}</mat-icon>
        }
      </div>
    }

    <div class="ui-confirmation-dialog__text">
      @if (data.title) {
        <div class="ui-confirmation-dialog__title" [innerHTML]="data.title"></div>
      }
      @if (data.message) {
        <div class="ui-confirmation-dialog__message" [innerHTML]="data.message"></div>
      }
    </div>
  </div>

  @if (data.actions?.confirm?.show || data.actions?.cancel?.show) {
    <div class="ui-confirmation-dialog__actions">
      @if (data.actions?.cancel?.show) {
        <button mat-stroked-button [matDialogClose]="'cancelled'">
          {{ data.actions?.cancel?.label || 'Cancel' }}
        </button>
      }
      @if (data.actions?.confirm?.show) {
        <button mat-flat-button [color]="data.actions?.confirm?.color || 'warn'" [matDialogClose]="'confirmed'">
          {{ data.actions?.confirm?.label || 'Confirm' }}
        </button>
      }
    </div>
  }
</div>

