<page-header class="bg-green-50" />

<div class="data-grid-options">
  <mat-checkbox [(ngModel)]="rowSelectable">Row Selectable</mat-checkbox>
  <mat-checkbox [(ngModel)]="hideRowSelectionCheckbox">Hide checkbox</mat-checkbox>
  <mat-radio-group [(ngModel)]="multiSelectable">
    <mat-radio-button [value]="false">Single Selectable</mat-radio-button>
    <mat-radio-button [value]="true">Multiple Selectable</mat-radio-button>
  </mat-radio-group>
  <mat-checkbox [(ngModel)]="showToolbar">Show Toolbar</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnHideable">Column Hiding</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnSortable">Column Sorting</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnPinnable">Column Pinning</mat-checkbox>
  <mat-checkbox [(ngModel)]="rowHover">Hover</mat-checkbox>
  <mat-checkbox [(ngModel)]="rowStriped">Striped</mat-checkbox>
  <mat-checkbox [(ngModel)]="expandable" (change)="enableRowExpandable()">Row Expandable
  </mat-checkbox>
  <mat-checkbox [(ngModel)]="showPaginator">Show Paginator</mat-checkbox>
  <mat-checkbox [(ngModel)]="isLoading">Loading Status</mat-checkbox>
  <mat-checkbox [(ngModel)]="columnResizable">Column Resizable</mat-checkbox>
</div>
<div class="m-y-8">
  <button mat-button (click)="updateCell()">Update cell</button>
  <button mat-button (click)="updateList()">Update list</button>
</div>

@if (isLoading) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
}

<mat-table [dataSource]="list" matSort (matSortChange)="changeSort($event)">
  @for (column of columns; track column.field) {
    @if (!column.hide) {
      <ng-container [matColumnDef]="column.field">
        <mat-header-cell *matHeaderCellDef [mat-sort-header]="column.sortable ? column.field : ''"
          [style.min-width.px]="column.minWidth" [style.width]="column.width">
          {{ column.header }}
        </mat-header-cell>
        <mat-cell *matCellDef="let row" [style.min-width.px]="column.minWidth" [style.width]="column.width">
          {{ row[column.field] }}
        </mat-cell>
      </ng-container>
    }
  }

  <ng-container matColumnDef="operation">
    <mat-header-cell *matHeaderCellDef style="min-width: 140px; width: 140px;">Operation</mat-header-cell>
    <mat-cell *matCellDef="let row" style="min-width: 140px; width: 140px;">
      <button mat-icon-button (click)="edit(row)" title="Edit">
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="delete(row)" title="Delete">
        <mat-icon>delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns;"
    [class.row-hover]="rowHover"
    [class.row-striped]="rowStriped">
  </mat-row>
</mat-table>

@if (showPaginator) {
  <mat-paginator [pageSizeOptions]="[5,10,50,100]"
                 [pageIndex]="0"
                 [pageSize]="5"
                 [length]="list.length">
  </mat-paginator>
}
